<div class="container">
    <div class="offset-3 col-6">
        <div class="card mt-10">
            <div class="card-header">
                <h4 class="m-0">
                    <b>Films</b>
                    <button *ngIf="!showAddFilm" class="btn btn-sm btn-success float-right"
                        (click)="showAddFilm = true">Add</button>
                </h4>
            </div>
            <div class="card-body">
                <app-new-film *ngIf="showAddFilm" (addFilm)="onAddFilm($event)"
                    (cancel)="showAddFilm = false"></app-new-film>
                <app-films *ngIf="films$" [films]="films$ | async"
                    (select)="onSelect($event)" (delete)="onDelete($event)"
                    (rateClick)="onRateClick()"></app-films>
                <app-selected-film [film]="selected$ | async"></app-selected-film>
            </div>
            <div class="card-footer">
                <rating [ngModel]="rate$ | async" [max]="5" [readonly]="true"></rating>
                <b class="ml-10">average</b>
            </div>
        </div>
    </div>
</div>